:root {
	--color-black: #42567A;
	--color-blue: #3877EE;
	--color-iris: #5D5FEF;
	--color-pink: #EF5DA8;
	--color-light: #F4F5F9;
	--color-black-100: rgba(66, 86, 122, 0.1);
	--color-black-200: rgba(66, 86, 122, 0.2);
}